html {
    font-size: 10px;
    font-family: "Open sans", sans-serif;
    background-color: #3b91a9;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #3b91a9;
    text-shadow: 3px 3px 5px grey;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #ebc2ee;
    border: 5px solid black;
    border-radius: 12px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 12px;
}

